"source ~/.vimrc
let mapleader=" "

""" Plugins ---------------------------

""" Plugin Settings -------------------

""" Common Settings -------------------
set incsearch
set hlsearch
set number
set relativenumber
set scrolloff=5

" Don't use Ex mode, use Q for formatting.
map Q gq

""" Idea specific settings ------------
set ideajoin
set ideastatusicon=gray

""" Mappings --------------------------
" removes the hlsearch when not using by just pressing esc
nnoremap <silent> <esc> :noh<cr><esc>

" window/tab navigation
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
" nmap <Tab> gt
" nmap <S-Tab> gT
nmap <S-l> gt " next tab
nmap <S-h> gT " prev tab

" Visual shifting
vnoremap < <gv
vnoremap > >gv

""" Mappings IDE actions to IdeaVim ---
" https://jb.gg/abva4t
" Find more examples here: https://jb.gg/share-ideavimrc
map <leader>b <Action>(ToggleLineBreakpoint)
" map <leader>ra <Action>(RenameElement)
map <leader>o <Action>(FileStructurePopup)
map <leader>l <Action>(ReformatCode)
map <leader>z <Action>(HideActiveWindow)

" [f]ile
" map <leader>fm <Action>(ReformatCode)
" map <leader>fm <Action>(Move)
map <leader>fr <Action>(RenameFile)
map <leader>ff <Action>(GotoFile)
map <leader>fe <Action>(SelectInProjectView)
map <leader>e <Action>(SelectInProjectView)

" [d]ebug
map <leader>dr <Action>(ChooseRunConfiguration)
map <leader>dd <Action>(ChooseDebugConfiguration)
map <leader>dc <Action>(Stop)

" Code navigation
map gd <Action>(GotoDeclaration)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map <S-Space> <Action>(GotoNextError)

" [c]ode
map <leader>ca <Action>(ShowIntentionActions)
map <leader>cf <Action>(ReformatCode)
map <leader>cr <Action>(RenameElement)

" [b]uffer
map <leader>bd :q<cr>
map <leader>bD :q!<cr>

"map <C-W>n <Action>(NextSplitter)
"map <C-W>p <Action>(PrevSplitter)
map <C-W>v <Action>(MoveTabRight)
map <C-W>h <Action>(MoveTabDown)
map <leader>sv <Action>(MoveTabRight)
map <leader>sh <Action>(MoveTabDown)

" Others
map <leader>x :q<cr>
map <leader>/ <Action>(CommentByLineComment)

