[core]
excludesfile = $HOME/.gitignore_global
editor = nvim

[user]
name = William Cho
email = dev@whjc.me
signingKey = ~/.ssh/id_ed25519.pub

[github]
user = williamhjcho

[color]
ui = true

[alias]
logg =	  log --graph --all --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
addp = add --patch
resetp = reset --patch
restorep = restore --patch
amend = commit --amend --no-edit
rebcont = rebase --continue
rebskip = rebase --skip
rebort = rebase --abort
branch-list = ! git branch --list | cat
current = ! git branch | grep \\* | cut -d ' ' -f2
last = log -1 HEAD --stat
pushf = push --force-with-lease
wip = commit -m "[WIP]"

[filter "lfs"]
process = git-lfs filter-process --skip
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge --skip %f

[fetch]
prune = true

[rebase]
autostash = true

[commit]
verbose = true
gpgsign = true

[gpg]
format = ssh

[status]
short = true
branch = true

[advice]
addIgnoredFile = false

[pull]
rebase = true

[url "git@github.com:"]
insteadOf = https://github.com/

[init]
defaultBranch = main
