[submodule "vim/.vim/pack/plugins/start/nerdtree"]
	path = vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/plugins/start/nerdtree-git-plugin"]
	path = vim/.vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
