- name: Setup MacOS Workstation
  hosts: local

  vars:
    dotfiles_home: "~/dotfiles"

  roles:
    - role: dotfiles
      tags: [dotfiles]
    - role: zsh
      tags: [zsh]
    - role: elliotweiser.osx-command-line-tools
    - role: geerlingguy.mac.homebrew
      tags: [homebrew]
      vars:
        homebrew_installed_packages:
          # general
          - git
          - zsh
          - zsh-syntax-highlighting
          - zsh-autosuggestions
          - jq
          - yq
          - fd
          - gpg
          - tmux
          - ripgrep
          - fzf
          - gh
          - stow
          - openssl
          - tree
          - ykman
          - stats
          - tldr
          # nvim
          - nvim
          - luarocks
          # general
          - lazygit
          - direnv
          - bob # nvim installation manager
          - tree-sitter-cli # needed by treesitter (nvim)
          - mise # dev env management
          # javascript/typescript/web
          - deno
          - biome # js/ts/general web file formatter & linter
          - tailwindcss-language-server # tailwindcss LSP
          # lua
          - lua-language-server # lua LSP
          - stylua # lua formatter
          # python
          - pyenv
          - pyenv-virtualenv
          - ruff # python formatter & linter
          # yaml/toml
          - yaml-language-server # YAML LSP
          - taplo # TOML LSP
          - jenv # java
          - rbenv # ruby
          - dockutil
          # golang
          - delve # go debugger
          - goimports # go formatter
          - go-task # taskfile (makefile alternative)
        # homebrew_taps:
        # - leoafarias/fvm
        homebrew_cask_apps:
          # in case it needs to be forced
          # - { name: appname, install_options: "force" }
          - font-fira-mono-nerd-font
          - font-jetbrains-mono-nerd-font
          - monitorcontrol
          - arc
          - ghostty
          - docker
          - slack
          - spotify
          - nikitabobko/tap/aerospace
    - role: geerlingguy.mac.dock
      tags: [dock]
      vars:
        dockitems_remove:
          - "Calendar"
          - "Contacts"
          - "FaceTime"
          - "Freeform"
          - "Keynote"
          - "Mail"
          - "Maps"
          - "Messages"
          - "Music"
          - "Numbers"
          - "Podcasts"
          - "Photos"
          - "Pages"
          - "Safari"
          - "TV"
        # dockitems_persist:
        #   - name: Alacritty
        #     path: "/Applications/Alacritty.app/"
        #     pos: 1
        #   - name: Spotify
        #     path: "/Applications/Spotify.app/"
        #     pos: 2
        #   - name: Slack
        #     path: "/Applications/Slack.app/"
        #     pos: 3

  tasks:
    - name: Setup macos defaults
      become: true
      shell:
        # when becoming sudo, $HOME changes to /var/root
        chdir: "../"
        cmd: "./macos/osx.sh --no-restart"
      changed_when: false
      tags: [macos]

    # https://github.com/tmux-plugins/tpm
    - name: Install Tmux Plugin Manager (TPM)
      git:
        repo: https://github.com/tmux-plugins/tpm
        dest: "{{ ansible_env.HOME }}/.tmux/plugins/tpm"
        clone: yes
        update: yes
      tags: [tmux]
